html,
body {
  // height: 100%;
  height: 400vh;
  @extend %Arsenal-Regular;
  font-size: 20px;
  line-height: 25px;
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1396px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  @extend %Arsenal-Regular;
  // font-size: 64px;
  // line-height: 80px;
  color: $grey;
  margin-bottom: 30px;
  max-width: fit-content;
  text-transform: uppercase;
  font-size: calc(54px + 18 * ((100vw - 1920px) / (1920 - 320)));
  line-height: calc(75px + 40 * ((100vw - 1920px) / (1920 - 320)));
}

.main-btn {
  max-width: fit-content;
  padding: 10px 40px;
  @include form-style--btn;
  box-shadow: -7px -4px 4px rgba(255, 255, 255, 0.25),
    4px 4px 4px rgba(41, 41, 41, 0.25);
  border-radius: 5px;
  @extend %Arsenal-Regular;
  font-size: 20px;
  line-height: 25px;
}