%Arsenal-Regular {
  font-family: 'Arsenal-Regular', sans-serif;
  font-weight: 400;
  display: swap;
}

%Arsenal-Bold {
  font-family: 'Arsenal-Bold', sans-serif;
  font-weight: 700;
  display: swap;
}

%Antic-Regular {
  font-family: 'Conv_AnticDidone-Regular', sans-serif;
  font-weight: 400;
  display: swap;
}

@mixin form-style--btn {
  background: linear-gradient(170deg, #FFD41F 0%, #FF7B9B 100%);
}

@mixin form-style--text {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to bottom, rgba(255, 212, 31, 1), rgba(255, 123, 155, 1));
}

@mixin form-style--border {
  border: 1px solid transparent;
  border-image: linear-gradient(to right bottom, rgba(255, 212, 31, 1), rgba(255, 123, 155, 1));
  border-image-slice: 1;
}

@mixin icon-style--hover {
  // border: 1px solid transparent;
  box-shadow: -3px -3px 8px rgba(255, 212, 31, 1),
  3px 3px 8px rgba(255, 123, 155, 1);
}


$dark-grey: #292929;
$grey: #BEBEBE;
$light-grey: #F3F3F3;
$white: #ffffff;