%Arsenal-Regular {
  font-family: 'Arsenal-Regular', sans-serif;
  font-weight: 400;
  display: swap;
}

%Arsenal-Bold {
  font-family: 'Arsenal-Bold', sans-serif;
  font-weight: 700;
  display: swap;
}

%Antic-Regular {
  font-family: 'AnticDidone-Regular', sans-serif;
  font-weight: 400;
  display: swap;
}


// $blue: #ABD0D3;
// $text: #F2F1ED;
// $background: #3B3B3B;
// $line: #BCB3A9;