@import 'vars';
@import 'reset';
@import 'global';
@import 'fonts';

// start header
.header {
  background-color: $dark-grey;
  background-color: rgba(41, 41, 41, 0.8);
  padding: 40px 95px;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;

  &.active {
    z-index: 100;
    height: 100%;
    backdrop-filter: blur(20px);
    padding: 40px 110px 40px 95px;

    .row1 {
      transform: rotate(45deg);
      position: relative;
      top: 1px;
      left: 9px;
      background-color: $white;
      transition: all .5s ease 0s;
    }

    .row2 {
      transform: rotate(-45deg);
      position: relative;
      top: -7px;
      left: 9px;
      background-color: $white;
      transition: all .5s ease 0s;
    }

    .row3 {
      display: none;
    }
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.screen__logo,
.start__logo--light {
  width: 60.72px;
  height: 53px;
}

.menu__btn {
  width: 30px;
  cursor: pointer;
}

.row {
  background-color: $white;
  height: 3px;
  border-radius: 5px;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.row3 {
  width: 20px;
  margin-left: auto;
}

.header__fixed {
  padding: 12px 95px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(29, 29, 29, 0.8);
  animation-name: show_header;
  animation-duration: 1s;
  z-index: 100;
}

.header.header__fixed.active {
  padding-top: 12px;

  .row1 {

    top: 4px;
    left: 9px;

  }

  .row2 {

    top: -4px;
    left: 9px;

  }
}

@keyframes show_header {
  0% {
    opacity: 0;
    top: -70px
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.main {
  margin-top: 133px;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  display: none;

  &.active {
    padding-top: 30px;
    display: block;
    display: flex;
    justify-content: center;
  }
}


.menu__item {
  padding: 20px 50px 0px;
  height: fit-content;
}

.menu__title {
  @extend %Arsenal-Bold;
  font-size: 24px;
  line-height: 30px;
  @include form-style--text;
  margin-bottom: 10px;
  text-transform: uppercase;
}


.menu__list-link {
  color: $grey;
  margin-bottom: 20px;
  transition: all .3s;

  &:hover {
    color: #fff;
  }
}

.menu__list-main--link {
  color: $white;
  margin-bottom: 20px;
  padding-top: 10px;
  transition: all .3s;

  &:hover {
    text-shadow:
      0px 0px 5px rgba(255, 255, 255, 1);

  }
}

.menu__list-icon {
  width: 30px;
  height: 30px;
  border-radius: 30%;
  transition: all .3s;

  &:hover {
    @include icon-style--hover;

  }
}

.menu__list-icon--link {
  padding-top: 10px;
  display: inline-block;

  &+.menu__list-icon--link {
    margin-left: 30px;
  }
}

.menu__list-link--phone,
.menu__list-link--gmail {
  position: relative;
  padding-left: 60px;

  &::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: content;
    width: 30px;
    height: 30px;
    top: 12px;
    left: 0;
    z-index: 50;
    border-radius: 30%;
    transition: all .3s;
  }

  &:hover::before {
    @include icon-style--hover;
  }
}

.menu__list-link--phone {
  &::before {
    background-image: url('../images/icons/phone.png');
  }
}

.menu__list-link--gmail {
  &::before {
    background-image: url('../images/icons/gmail.png');
  }
}


// end header
// start section screen

.screen {
  margin-top: -133px;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;

}

.screen__logo,
.start__logo--light {
  position: absolute;
  top: 40px;
  left: 95px;
  z-index: 11;
  width: 60.72px;
  height: 53px;
}

.screen__logo-mobil {
  display: none;
}

.screen__menu-btn,
.start__menu-btn--light {
  width: 30px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 95px;
  z-index: 10;
}

.start__row--light {
  background-color: $light-grey;
  height: 3px;
  border-radius: 5px;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.screen__row {
  background-color: #000;
  height: 3px;
  border-radius: 5px;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.screen__row3 {
  width: 20px;
  margin-left: auto;
}

.screen__item-left {
  background-color: $dark-grey;
  width: 43.3%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.screen__company-name--inner {
  position: absolute;
  bottom: 0px;
  left: 15px;
}

.screen__company-name {

  @extend %Antic-Regular;
  font-size: calc(160px + 140 * ((100vw - 1920px) / (1920 - 320)));
  line-height: calc(150px + 120 * ((100vw - 1920px) / (1920 - 320)));
  text-transform: uppercase;
  @include form-style--text;

  span {
    color: $white;
  }
}

.screen__item-right {
  width: 56.7%;
  height: 100%;
  background-color: $light-grey;
}

.screen__item-inner {
  position: relative;
  height: 100vh;
}

.screen__img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 183px;
  height: 406px;
}

.screen__box {
  position: absolute;
  top: 136px;
  left: 85px;
  z-index: 5;
}

.screen__box-inner {
  text-align: left;
}

.screen__title {
  font-size: calc(96px + 58 * ((100vw - 1920px) / (1920 - 320)));
  line-height: calc(120px + 100 * ((100vw - 1920px) / (1920 - 320)));
  color: $dark-grey;
  text-transform: uppercase;
  margin-bottom: 0;
  max-width: inherit;
}

.screen__subtitle {

  font-size: calc(64px + 38 * ((100vw - 1920px) / (1920 - 320)));
  line-height: 80px;
  text-transform: uppercase;
  @extend %Arsenal-Regular;
  margin-bottom: 38px;
}

.screen__contacts {
  position: absolute;
  bottom: 23px;
  right: 95px;
  text-align: right;
  color: $dark-grey;
  font-size: 25px;
  line-height: 30px;
}

.screen__contacts-phone,
.screen__contacts-email {
  display: block;
}

.screen__img {
  width: 265px;
  height: 588px;
}

// end section screen

// start section benefits
.benefits {
  background-color: $light-grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.benefits__title {
  margin-bottom: 50px;
}

.benefits__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.benefits__item {
  padding: 30px 20px;
  max-width: 430px;
  width: 100%;
  min-height: 230px;
  text-align: center;
  color: $dark-grey;
  @include form-style--border;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 50px;
  position: relative;
}

.benefits__item-title {
  @extend %Arsenal-Regular;
  margin-bottom: 14px;
  font-size: 30px;
  line-height: 38px;

}

.benefits__item-number {
  position: absolute;
  top: -31px;
  left: -11px;
  font-size: 40px;
  line-height: 60px;
  @include form-style--text;
}

.benefits__item-text {
  font-size: 18px;
  line-height: 22px;
}

// .benefits__inner {
//   display: flex;
//   justify-content: center;
// }



// end section benefits
// start section gallery

.gallery {
  background-color: $dark-grey;
}

.gallery__title {
  @include form-style--text;
}

.gallery__wrapper {
  margin-bottom: 80px;
}

.gallery__text {
  color: $light-grey;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 25px;
}

.gallery__item {
  padding: 36px 45px;
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
  margin-bottom: 50px;
  position: relative;

  span {
    position: absolute;
    transition: .5s
  }

  .one {
    background: linear-gradient(180deg, #FFD41F 0%, #FF7B9B 100%);
    height: 0;
    width: 2px;
    top: 0;
    left: 0;
  }

  .two {
    background: #FF7B9B;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
  }

  .three {
    background: linear-gradient(180deg, #FFD41F 0%, #FF7B9B 100%);
    height: 0;
    width: 2px;
    bottom: 0;
    right: 0
  }

  .four {
    background: #FFD41F;
    height: 2px;
    width: 0;
    top: 0;
    right: 0;
  }

  &:hover {

    .one,
    .three {
      height: 100%;
    }

    .two,
    .four {
      width: 100%;
    }
  }
}

.gallery__item-img {
  width: 767px;
  height: 606px;
}

.gallery__item-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.gallery__item-box {
  padding: 20px;
  text-align: center;
}

.gallery__item-box--title {
  font-size: 36px;
  line-height: 45px;
  @include form-style--text;
  margin-bottom: 30px;
}

.gallery__item-box--text {
  margin-bottom: 30px;
  color: $light-grey;
  font-size: 20px;
  line-height: 25px;
}

.gallery__inner {
  display: flex;
  justify-content: center;
}

.gallery__btn {
  box-shadow: none;
}

.gallery__item-img--right {
  order: 1;
}

// end section gallery

// start section services

.services {
  background-color: $light-grey;
  position: relative;
}

.services__img {
  position: absolute;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 607px;
  height: 584px;
}

.services__text {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 25px;
}

.services__wrapper {
  max-width: 750px;
}

.services__item {
  max-width: 746px;
  width: 100%;
  margin-bottom: 30px;

  &.main-btn {
    padding: 37px 59px;
  }

  &::before {
    background-color: $light-grey;
  }
}

.services__item:hover::before {
  background-color: $white;
}

.services__item-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: $dark-grey;
  font-size: 24px;
  line-height: 30px;
  border-radius: 5px;
}

.services__item-text {
  text-transform: uppercase;
}

.services__inner {
  display: flex;
  justify-content: center;
}

// end section services
// start section treaty

.treaty {
  background-color: $dark-grey;
  color: $light-grey;
  font-size: 20px;
  line-height: 25px;
}

.treaty__title {
  @include form-style--text;
  // margin-bottom: 50px;
}

.treaty__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.treaty__subtitle {
  padding-top: 12px;
  margin-bottom: 50px;

  span {
    background-color: #fff;
    padding: 12px 15px;
    border-radius: 3px;
    color: #000;
    margin-right: 15px;
  }

}

.treaty__item-img {
  width: 513px;
  height: 405px;
}

.treaty__list {
  padding-left: 20px;
  position: relative;
  margin-bottom: 30px;

  &::before {
    @include form-style--dot;
  }
}




// end section treaty
// start section reviews

.reviews {
  background-color: $light-grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider__inner {
  position: relative;
}

.slider__wrapper {
  margin: 0 -30px;
}

.reviews__slider {
  margin: 15px 30px;
  padding: 30px;
  position: relative;

  &::before {
    content: '';
    height: 475px;
    width: 156px;
    background-image: url('../images/icons/border-left.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
  }

  &::after {
    content: '';
    height: 475px;
    width: 156px;
    background-image: url('../images/icons/border-left.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    position: absolute;
    right: 0px;
    top: 0;

  }
}

.quotes__up {
  position: absolute;
  top: -13px;
  left: 60px;
}

.quotes__down {
  position: absolute;
  bottom: -10px;
  right: 60px;
}


.reviews__item {
  padding-right: 20px;
  position: relative;
  color: $dark-grey;
  height: 415px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  font-style: italic;
  position: relative;
  font-size: 20px;
  line-height: 25px;
}

.reviews__item-text {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
}

.reviews__item-name__wrapper {
  margin-left: auto;
  width: fit-content;
  font-style: italic;
}

.reviews__item-name {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 25px;
}

.reviews__item-name--company {
  text-transform: uppercase;
  color: $grey;
  font-size: 15px;
  line-height: 19px;
}

// end section reviews

























// start section request

.request {

  background-color: $dark-grey;
}

.request__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 170px;
  margin-bottom: 50px;
}

.request__inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: space-between;
}

.request__item {
  border: 1px solid $white;
  background-color: $dark-grey;
  border-radius: 5px;
  padding: 20px 25px;
  max-width: 655px;
  width: 100%;
  margin-right: 20px;
  color: $light-grey;

  &::placeholder {
    color: $grey;
  }
}

.request__item-text {
  border: 1px solid $white;
  background-color: $dark-grey;
  border-radius: 5px;
  padding: 20px 25px;
  max-width: 655px;
  width: 100%;
  resize: none;
  color: $light-grey;

  &::placeholder {
    color: $grey;
  }
}

.request__inner-btn {
  display: flex;
  justify-content: center;

}

.request__btn {
  color: $light-grey;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 500ms ease-in-out;
}




// end section request
// start footer

.footer {
  background-color: $dark-grey;
  padding-top: 50px;
  padding-bottom: 310px;
  position: relative;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, rgba(255, 212, 31, 1), rgba(255, 123, 155, 1));
  border-image-slice: 1 0 0 0;
}

.footer__wrapper {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
}

.footer__img {
  position: absolute;
  width: 739px;
  height: 252px;
  bottom: 0;
  left: 50%;
  margin-left: -369px;
  z-index: 10;
}

.footer__bg {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

// end footer




// start section start


.start {
  background-color: $dark-grey;
  margin-top: -133px;
  // padding-top: 113px;
  padding-top: 110px;
  position: relative;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // height: 94vh;
}

.section__wrapper {
  position: relative;
}

.start__title {
  @include form-style--text;
  font-size: calc(64px + 28 * ((100vw - 1920px) / (1920 - 320)));
  line-height: calc(75px + 38 * ((100vw - 1920px) / (1920 - 320)));
  margin-bottom: 250px;
}

.website__title {
  margin-bottom: 70px;
}


.start__title-text {
  @extend %Arsenal-Regular;
  font-size: 24px;
  line-height: 30px;
  color: $light-grey;
  margin-bottom: 10px;
}

.start__text {
  @extend %Arsenal-Regular;
  // font-size: 20px;
  // line-height: 25px;
  color: $light-grey;
  margin-bottom: 30px;
}

.start__subtitle {
  display: block;
  font-size: calc(48px + 20 * ((100vw - 1920px) / (1920 - 320)));
  line-height: calc(65px + 30 * ((100vw - 1920px) / (1920 - 320)));
}

.start__wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 20px 50px;
}

.start__left-btn {
  // margin-right: 50px;
  padding: 10px 45px;
  box-shadow: 4px 4px 10px rgba(179, 174, 174, 0.5);

  &:hover {
    color: $light-grey;
    box-shadow: -4px -4px 10px rgba(179, 174, 174, 0.5);

    &::before {
      background-color: $dark-grey;
    }
  }
}

.start__descr-inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 50px;
}

.start__descr-item {
  font-size: 24px;
  line-height: 30px;
  color: $light-grey;
}

.start__descr-item--title {
  text-transform: uppercase;
  @extend %Arsenal-Regular;
  display: inline-block;
  font-size: calc(30px + 6 * ((100vw - 1920px) / (1920 - 320)));
}

.start__descr-item--number {
  @extend %Arsenal-Bold;
  @include form-style--text;
  display: inline-block;
  font-size: calc(40px + 10 * ((100vw - 1920px) / (1920 - 320)));
  line-height: calc(50px + 30 * ((100vw - 1920px) / (1920 - 320)));
}

.start__cat {
  position: absolute;
  right: 0;
  bottom: -50px;
}

// end section start

// start section decr
.decr__wrapper {
  display: flex;
  justify-content: space-between;
}

.decr__title {
  font-size: calc(48px + 20 * ((100vw - 1920px) / (1920 - 320)));
  line-height: calc(65px + 30 * ((100vw - 1920px) / (1920 - 320)));
  max-width: 520px;
  width: 100%;
  color: $dark-grey;
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.decr__text {
  max-width: 750px;
  width: 100%;
  font-size: 20px;
  line-height: 25px;
}

// end section decr

// start section directions
.directions {
  background-color: $dark-grey;
  color: $light-grey;
}

.directions__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.directions__item {
  width: 400px;
  padding: 15px 50px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  margin-bottom: 60px;

  &:nth-child(3n+2) {
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, #ffd41f, #ff7b9b);
    border-image-slice: 0 1 0 1;
  }
}

.directions__item-title {
  margin-bottom: 25px;
  width: 100%;
}

.directions__item-price {
  margin-bottom: 25px;
  color: $grey;
}

.directions__item-text {
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 25px;
}

// end section directions


// start section stages
.stages__title {
  @include form-style--text;
}

.stages__wrapper {
  margin-bottom: 50px;
}

.stages__item {
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 50px 0px;
}

.stages__inner {
  display: flex;
  justify-content: space-between;
}

.stages__number {
  @extend %Antic-Regular;
  font-size: 64px;
  line-height: 76px;
  color: $grey;
  display: flex;
  align-items: center;
  margin-right: 30px;

}

.stages__item-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 650px;

  width: 100%;
}

.stages__item-title {
  @extend %Arsenal-Regular;
  font-size: 24px;
  line-height: 30px;

  max-width: 390px;
  width: 100%;
}

.stages__item-text {
  max-width: 554px;
  width: 100%;
  margin-left: 30px;
  margin-bottom: 15px;
}

.stages__item-list {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 25px;
}

// end section stages
// start section examples, website
.website {
  background-color: $dark-grey;
}

.examples__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(7, 466px);
  grid-template-rows: repeat(7, 432px);
  gap: 100px 20px;
  margin-bottom: 50px;
}

.website__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(7, 466px);
  grid-template-rows: repeat(3, 432px);
  gap: 100px 20px;
  margin-bottom: 50px;
}

.examples__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0px;

}

.examples__item-img {
  border-radius: 5px;
}

.examples__item-big {
  grid-column-start: span 2;

}

.examples__item-info {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid $dark-grey;
}

.website__item-info {
  border-bottom: 2px solid $light-grey;
}

.examples__item-title {
  @extend %Arsenal-Bold;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
  color: $dark-grey;
}

.website__item-title {
  color: $light-grey;
}


.examples__item-text {
  font-size: 20px;
  line-height: 25px;
  color: $dark-grey;
  margin-bottom: 20px;
}

.website__item-text {
  color: $light-grey;
}

.examples__item-link {
  @extend %Arsenal-Bold;
  font-size: 20px;
  line-height: 25px;
  color: $dark-grey;
  margin-bottom: 30px;
  padding-right: 47px;
  position: relative;
  transition: all 500ms ease-in-out;

  &::before {
    content: '';
    width: 32px;
    height: 8px;
    background-image: url('../images/icons/examples-arrow.svg');
    position: absolute;
    right: 0;
    top: 12px;
  }

  &:hover {
    @include form-style--text;
  }
}

// .examples__item-link.website__item-link {
//   &::before {
//     display: none;
//   }
// }
.website__item-link {
  color: $light-grey;

  &::before {
    content: '';
    width: 32px;
    height: 8px;
    background-image: url('../images/icons/website-arrow.svg');
    position: absolute;
    right: 0;
    top: 12px;
  }

  &:hover {
    @include form-style--text;
  }
}



// end section examples

// start section whom
.whom__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.whom__item {
  max-width: 550px;
  width: 100%;
  margin-bottom: 50px;
}

.whom__item-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 15px;
}

.whom___number {
  @extend %Antic-Regular;
  font-size: 64px;
  line-height: 76px;
  color: $grey;
  display: flex;
  align-items: center;
  margin-right: 30px;

}

.whom__item-title {
  @extend %Arsenal-Regular;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;

}

.whom__item-text {
  font-size: 20px;
  line-height: 23px;
}


// end section whom

// start section questions
.questions {
  background-color: $dark-grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.questions__item {
  padding: 20px 60px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;

}

.questions__item.main-btn {
  box-shadow: none;

  &:hover {
    box-shadow: 0px 0px 10px rgba(255, 1255, 255, 0.5);

    &::before {
      background-color: $dark-grey;
    }
  }
}

.questions__wrapper {
  position: relative;
  z-index: 100;
}

.questions__item-title {
  display: flex;
  justify-content: space-between;
}

.questions__item-title--text {
  @extend %Arsenal-Regular;
  color: $light-grey;
  font-size: 24px;
  line-height: 30px;
  position: relative;
}

.questions__item-title--btn.active {
  transition: all .3s;

  .questions__row-1 {
    transform: rotate(45deg);
  }

  .questions__row-2 {
    transform: rotate(-45deg);
    top: 9px;
  }
}

.questions__row {
  @include form-style--btn;
  height: 3px;
  width: 25px;
  border-radius: 10px;
  margin-left: 20px;
  transition: all .3s;
}

.questions__row-1 {
  transform: rotate(90deg);
  position: relative;
  top: 12px;
}

.questions__row-2 {
  position: relative;
  top: 10px;
}

.questions__item-text {
  font-size: 20px;
  line-height: 23px;
  color: $light-grey;
  padding-top: 25px;
  display: none;
}

.questions__text-open {
  display: block;
}

// end section questions


// start section offer

.offer__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.offer__item {
  max-width: 600px;
  width: 100%;
  padding: 39px 59px;

  &::before {
    background-color: $light-grey;
  }

  &:hover::before {
    background-color: $white;
  }
}

.offer__item-text {
  position: relative;
  color: $dark-grey;
  text-align: center;
  text-transform: uppercase;
}

// end section offer

// start str policy
.policy {
  background-color: $dark-grey;
  color: $light-grey;
}

.policy__title {
  margin-bottom: 50px;

}

.policy__subtitle {
  margin-bottom: 20px;
}

.policy__text {
  margin-bottom: 50px;
}

// end str policy

// start str portfolio
.portfolio {
  background-color: $dark-grey;
}

.portfolio__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.portfolio__item {
  height: 415px;
  border-radius: 5px;
  padding: 2px;
  &:hover {
    @include form-style--btn;

    .portfolio__bg {
      opacity: 1;
    }

  }
}

.portfolio__background {
  // width: 415px;
  height: 411px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}

.portfolio__bg {
  background: rgba(41, 41, 41, 0.8);
  backdrop-filter: blur(10px);
  width: 100%;
  border-radius: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 30px;
  opacity: 0;
  transition: all 0.5s;
}

.portfolio__bg-title {
  @extend %Arsenal-Regular;
  color: $white;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.portfolio__wrapper {
  display: flex;
  justify-content: center;
}

// end str portfolio
@import 'media';