@import 'vars';
@import 'reset';
@import 'global';
@import 'fonts';

// start header
.header {
  background-color: $dark-grey;
  padding: 40px 95px;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;

  &.active {
    z-index: 100;
    height: 100%;
    backdrop-filter: blur(20px);
    padding: 40px 110px 40px 95px;

    .row1 {
      transform: rotate(45deg);
      position: relative;
      top: 1px;
      left: 9px;
      background-color: $white;
      transition: all .5s ease 0s;
    }

    .row2 {
      transform: rotate(-45deg);
      position: relative;
      top: -7px;
      left: 9px;
      background-color: $white;
      transition: all .5s ease 0s;
    }

    .row3 {
      display: none;
    }
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.screen__logo {
  width: 60.72px;
  height: 53px;
}

.menu__btn {
  width: 30px;
  cursor: pointer;
}

.row {
  background-color: $white;
  height: 3px;
  border-radius: 5px;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.row3 {
  width: 20px;
  margin-left: auto;
}

.header__fixed {
  padding: 12px 95px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(29, 29, 29, 0.90);
  animation-name: show_header;
  animation-duration: 1s;
  z-index: 100;
}

.header.header__fixed.active {
  padding-top: 12px;

  .row1 {

    top: 4px;
    left: 9px;

  }

  .row2 {

    top: -4px;
    left: 9px;

  }
}

@keyframes show_header {
  0% {
    opacity: 0;
    top: -70px
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.main {
  margin-top: 133px;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  display: none;

  &.active {
    padding-top: 30px;
    display: block;
    display: flex;
    justify-content: center;
  }
}


.menu__item {
  padding: 20px 50px 0px;
  height: fit-content;
}

.menu__title {
  @extend %Arsenal-Bold;
  font-size: 24px;
  line-height: 30px;
  @include form-style--text;
  margin-bottom: 10px;
  text-transform: uppercase;
}


.menu__list-link {
  color: $grey;
  margin-bottom: 20px;
  transition: all .3s;

  &:hover {
    color: #fff;
  }
}

.menu__list-main--link {
  color: $white;
  margin-bottom: 20px;
  padding-top: 10px;
  transition: all .3s;

  &:hover {
    text-shadow:
      0px 0px 5px rgba(255, 255, 255, 1);

  }
}

.menu__list-icon {
  width: 30px;
  height: 30px;
  border-radius: 30%;
  transition: all .3s;

  &:hover {
    @include icon-style--hover;

  }
}

.menu__list-icon--link {
  padding-top: 10px;
  display: inline-block;

  &+.menu__list-icon--link {
    margin-left: 30px;
  }
}

.menu__list-link--phone,
.menu__list-link--gmail {
  position: relative;
  padding-left: 60px;

  &::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: content;
    width: 30px;
    height: 30px;
    top: 12px;
    left: 0;
    z-index: 50;
    border-radius: 30%;
    transition: all .3s;
  }

  &:hover::before {
    @include icon-style--hover;
  }
}

.menu__list-link--phone {
  &::before {
    background-image: url('../images/icons/phone.png');
  }
}

.menu__list-link--gmail {
  &::before {
    background-image: url('../images/icons/gmail.png');
  }
}


// end header
// start section screen

.screen {
  margin-top: -133px;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;

}

.screen__logo {
  position: absolute;
  top: 40px;
  left: 95px;
  z-index: 11;
  width: 60.72px;
  height: 53px;
}

.screen__logo-mobil {
  display: none;
}

.screen__menu-btn {
  width: 30px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 95px;
  z-index: 10;
}


.screen__row {
  background-color: #000;
  height: 3px;
  border-radius: 5px;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.screen__row3 {
  width: 20px;
  margin-left: auto;
}

.screen__item-left {
  background-color: $dark-grey;
  width: 43.3%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.screen__company-name--inner {
  position: absolute;
  bottom: 0px;
  left: 15px;
}

.screen__company-name {

  @extend %Antic-Regular;
  font-size: calc(160px + 140 * ((100vw - 1920px) / (1920 - 320)));
  line-height: calc(150px + 120 * ((100vw - 1920px) / (1920 - 320)));
  text-transform: uppercase;
  @include form-style--text;

  span {
    color: $white;
  }
}

.screen__item-right {
  width: 56.7%;
  height: 100%;
  background-color: $light-grey;
}

.screen__item-inner {
  position: relative;
  height: 100vh;
}

.screen__img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 183px;
  height: 406px;
}

.screen__box {
  position: absolute;
  top: 136px;
  left: 85px;
  z-index: 5;
}

.screen__box-inner {
  text-align: left;
}

.screen__title {
  font-size: calc(96px + 58 * ((100vw - 1920px) / (1920 - 320)));
  line-height: calc(120px + 100 * ((100vw - 1920px) / (1920 - 320)));
  color: $dark-grey;
  text-transform: uppercase;
  margin-bottom: 0;
  max-width: inherit;
}

.screen__subtitle {

  font-size: calc(64px + 38 * ((100vw - 1920px) / (1920 - 320)));
  line-height: 80px;
  text-transform: uppercase;
  @extend %Arsenal-Regular;
  margin-bottom: 38px;
}

.screen__contacts {
  position: absolute;
  bottom: 23px;
  right: 95px;
  text-align: right;
  color: $dark-grey;
  font-size: 25px;
  line-height: 30px;
}

.screen__contacts-phone,
.screen__contacts-email {
  display: block;
}

.screen__img {
  width: 265px;
  height: 588px;
}

// end section screen

// start section benefits
.benefits {
  background-color: $light-grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.benefits__title {
  margin-bottom: 50px;
}

.benefits__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.benefits__item {
  padding: 30px 20px;
  max-width: 430px;
  width: 100%;
  min-height: 230px;
  text-align: center;
  color: $dark-grey;
  @include form-style--border;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 50px;
  position: relative;
}

.benefits__item-title {
  @extend %Arsenal-Regular;
  margin-bottom: 14px;
  font-size: 30px;
  line-height: 38px;

}

.benefits__item-number {
  position: absolute;
  top: -31px;
  left: -11px;
  font-size: 40px;
  line-height: 60px;
  @include form-style--text;
}

.benefits__item-text {
  font-size: 18px;
  line-height: 22px;
}

.benefits__inner {
  display: flex;
  justify-content: center;
}



// end section benefits
// start section gallery

.gallery {
  background-color: $dark-grey;
}

.gallery__title {
  @include form-style--text;
}

.gallery__wrapper {
  margin-bottom: 80px;
}

.gallery__text {
  color: $light-grey;
  margin-bottom: 20px;
}

.gallery__item {
  padding: 36px 45px;
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
  margin-bottom: 50px;
  position: relative;

  span {
    position: absolute;
    transition: .5s
  }

  .one {
    background: linear-gradient(180deg, #FFD41F 0%, #FF7B9B 100%);
    height: 0;
    width: 1px;
    top: 0;
    left: 0;
  }

  .two {
    background: #FF7B9B;
    height: 1px;
    width: 0;
    bottom: 0;
    left: 0;
  }

  .three {
    background: linear-gradient(180deg, #FFD41F 0%, #FF7B9B 100%);
    height: 0;
    width: 1px;
    bottom: 0;
    right: 0
  }

  .four {
    background: #FFD41F;
    height: 1px;
    width: 0;
    top: 0;
    right: 0;
  }

  &:hover {
    // .main__border-wrapper {
    //   color: $dark-grey;
    //   &::before{

    //     background: linear-gradient(180deg, #FFD41F 0%, #FF7B9B 100%);
    //   }
    // }
    .one,
    .three {
      height: 100%;
    }

    .two,
    .four {
      width: 100%;
    }
  }
}

.gallery__item-img {
  width: 767px;
  height: 606px;
}

.gallery__item-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.gallery__item-box {
  padding: 20px;
  text-align: center;
}

.gallery__item-box--title {
  font-size: 36px;
  line-height: 45px;
  @include form-style--text;
  margin-bottom: 30px;
}

.gallery__item-box--text {
  margin-bottom: 30px;
  color: $light-grey;
}

.gallery__inner {
  display: flex;
  justify-content: center;
}

.gallery__btn {
  box-shadow: none;
}

.gallery__item-img--right {
  order: 1;
}

// end section gallery

// start section services

.services {
  background-color: $light-grey;
  position: relative;
}

.services__img {
  position: absolute;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 607px;
  height: 584px;
}

.services__text {
  margin-bottom: 30px;
}

.services__wrapper {
  max-width: 750px;
}

.services__item {
  max-width: 746px;
  width: 100%;
  margin-bottom: 30px;

  &.main-btn {
    padding: 37px 59px;
  }

  &::before {
    background-color: $light-grey;
  }
}

.services__item:hover::before {
  background-color: $white;
}

.services__item-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: $dark-grey;
  font-size: 24px;
  line-height: 30px;
  border-radius: 5px;
}

.services__item-text {
  text-transform: uppercase;
}

.services__inner {
  display: flex;
  justify-content: center;
}

// end section services
// start section treaty

.treaty {
  background-color: $dark-grey;
  color: $light-grey;
  font-size: 20px;
  line-height: 25px;
}

.treaty__title {
  @include form-style--text;
  margin-bottom: 50px;
}

.treaty__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.treaty__subtitle {
  padding-top: 12px;
  margin-bottom: 50px;

  span {
    background-color: #fff;
    padding: 12px 15px;
    border-radius: 3px;
    color: #000;
    margin-right: 15px;
  }

}

.treaty__item-img {
  width: 513px;
  height: 405px;
}

.treaty__list {
  padding-left: 20px;
  position: relative;
  margin-bottom: 30px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 10px;
    height: 10px;
    background-image: url('../images/icons/list-style.png');
  }
}




// end section treaty
// start section reviews

.reviews {
  background-color: $light-grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider__inner{
  position: relative;
}
.slider__wrapper{
  margin: 0 -30px;
}
.reviews__slider {
 margin: 0 30px;
}

.reviews__bg {
  max-width: 668px;
  width: 100%;
  padding: 30px 10px;
  margin: 0 auto;
  &::before {
    background-color: $white;
  height: auto;
  }

  &:hover::before {
    background-color: $white;
  }
}

.reviews__item {
  padding: 0 30px;
  position: relative;
  color: $dark-grey;
  height: 415px;
    overflow-y: auto;
}

.reviews__item-name {
  text-transform: uppercase;
}

.reviews__item-name--company {
  text-transform: uppercase;
  color: $grey;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 20px;
}

// end section reviews
// start section request

.request {

  background-color: $dark-grey;
}

.request__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 170px;
  margin-bottom: 50px;
}

.request__inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: space-between;
}

.request__item {
  border: 1px solid $white;
  background-color: $dark-grey;
  border-radius: 5px;
  padding: 20px 25px;
  max-width: 655px;
  width: 100%;
  margin-right: 20px;
  color: $light-grey;

  &::placeholder {
    color: $grey;
  }
}

.request__item-text {
  border: 1px solid $white;
  background-color: $dark-grey;
  border-radius: 5px;
  padding: 20px 25px;
  max-width: 655px;
  width: 100%;
  resize: none;
  color: $light-grey;

  &::placeholder {
    color: $grey;
  }
}

.request__inner-btn {
  display: flex;
  justify-content: center;

}

.request__btn {
  color: $light-grey;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 500ms ease-in-out;
}




// end section request

































// start footer

.footer {
  background-color: $dark-grey;
  padding-top: 50px;
  padding-bottom: 310px;
  position: relative;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, rgba(255, 212, 31, 1), rgba(255, 123, 155, 1));
  border-image-slice: 1 0 0 0;
}

.footer__wrapper {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
}

.footer__img {
  position: absolute;
  width: 739px;
  height: 252px;
  bottom: 0;
  left: 50%;
  margin-left: -369px;
  z-index: 10;
}

.footer__bg {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}































// end footer


@import 'media';